<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mklg.mapper.EvaluationMapper">

    <resultMap id="BaseResultMap" type="com.mklg.pojo.Evaluation">
            <id property="evaluationId" column="evaluation_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="memberId" column="member_id" jdbcType="BIGINT"/>
            <result property="bookId" column="book_id" jdbcType="BIGINT"/>
            <result property="enjoy" column="enjoy" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="disableReason" column="disable_reason" jdbcType="VARCHAR"/>
            <result property="disableTime" column="disable_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        evaluation_id,content,score,
        create_time,member_id,book_id,
        enjoy,state,disable_reason,
        disable_time
    </sql>
    <update id="updateEnjoy" parameterType="Long" >
        update evaluation set enjoy = enjoy+1 where evaluation_id = #{evaluationId}
    </update>
    <select id="select" resultType="com.mklg.vo.EvaluationVo" parameterType="Long">
        select ev.*,m.nickname from evaluation as ev,member as m
                               where m.member_id = ev.member_id and book_id = #{book_id}
                                order by ev.create_time desc;
    </select>
</mapper>
